//weights: Oswald Normal 400 Light 300 Bold 700

// INCLUDES

// VARIABLES

$fontStack: 'Oswald', Helvetica, Arial, sans-serif;

// MIXINS




article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
body{
    position: relative;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    font-family: $fontStack;

    .aside{
        width: 30%;
        float: left;
        // background-color: blue;
        a{
            
            .preview{
                position: relative;
                height: 200px;
                width: 100%;
                border: 1px solid #000;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                -webkit-transition: 0.2s ease-in-out;
                -o-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out;
                .previewDetails{
                    position: absolute;
                    left: 15px;
                    bottom: 15px;
                    color: #eee;
                    text-shadow: 1px 1px 2px #000;
                    .speaker{
                        font-size: 15px;
                        margin: 0;
                    }
                    .title{
                        font-size: 25px; 
                        font-weight: 600;
                        margin: 0;
                    }
                }
                &:hover{
                    opacity: 0.7;

                }
                
            }
            .prev1{
                background-image: url(../images/graham-hill.png);
            }
            .prev2{
                background-image: url(../images/barry-schwartz.png);
            }
            .prev3{
                background-image: url(../images/neil-pasricha.png);
            }
            .prev4{
                background-image: url(../images/shawn-achor.png);
            }
            .prev5{
                background-image: url(../images/stefan-sagmeister.png);
            }
        }
    }


}

//******************************
// MAIN
//******************************


.main{
    width: 70%;
    // height: 1000px;
    float: right;
    background-color: #fff;
    padding: 7%;
    font-family: $fontStack;
    font-weight: 400;
    font-size: 0.85em;

}

.full {
    width: 100%;
}

.vidThumb {
    width: 100%;
}

.synopsis {
    font-weight: 300;
    font-size: 1.9em;
}

aside.vidSpeaker {
    width: 100%;
    background-color: #e3e3e3;
    padding: 15px;

    h3 {
        text-transform: uppercase;
        font-size: 18px;
    }
}

    .speakerPic {
        float: left;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

//******************************
// HEADER
//******************************

header {
    background-color: pink;
    height: 90px;

        .topic {
            width: 30%;
            background-color: purple;
            float: left;
        }

        .twitt {
            width: 70%;
            background-color: #BADA55;
            float: right;
        }
}


//******************************
// FOOTER
//******************************

footer {
    background-color: red;
    height: 90px;
}

//******************************
//old styles from template
//******************************




.gallery {}
.gallery .previews, .gallery .full, .gallery .desc {
    float: left;
    margin-right: 10px;
}

.gallery .desc, .gallery .full {
    width: 400px;
    font-size: 12px;
}

.gallery .desc h2 {
    margin-top: 0;
}

.gallery .previews a {
    display: block;
    margin-bottom: 10px;
}

.gallery .full, .gallery .full img {
    height: 600px;
}

.gallery .previews a, .gallery .full {
    border: 4px solid #eee;
}

.gallery .previews a:hover, .gallery .previews a.selected {
    border: 4px solid #777;
}

.gallery .full img:hover {
    cursor: pointer;
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    .iframeContainer{
        position: relative;
        // left: 50%;
        // top: 50%;

    }
    
}

.videoEmbed{
    // display: block;
    margin: 0 auto;
    // left: 50%;
    // top: 50%;
    // transform:translate(50%,50%); 
    // -webkit-transform:translate(50%,50%);
    
}