html(lang='en')
head
    meta(charset='UTF-8')
    title My First Jade Starter Template
    link(rel='stylesheet', href='css/main.css')
  body
    section
      h1.title Typography
      h1 h1
      h2 h2
      h3 h3
      h4 h4
      h5 h5
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nemo sit quibusdam exercitationem iste ipsam perspiciatis sapiente vitae, ipsa? Necessitatibus omnis officia earum neque minus blanditiis sunt, fugit quasi aperiam.
      a(href='#') This is a link
    section
      h1.title Form Elements
      .formelement
        label(for='text') Text Input
        input#text(type='text')
      .formelement
        input#checkbox(type='checkbox')
        label(for='checkbox') Checkbox Input
      .formelement
        label(for='button1')
          input#button1(type='radio', name='radiogroup', value='1')
          | Button One
        label(for='button2')
          input#button2(type='radio', name='radiogroup', value='2')
          | Button Two
        label(for='button3')
          input#button3(type='radio', name='radiogroup', value='2')
          | Button Three
      .formelement
        label(for='select') Select Field
        select#select
          option(value='item1') item1
          option(value='item2') item2
          option(value='item3') item3
          option(value='item4') item4
          option(value='item5') item5
          option(value='item6') item6
      .formelement
        input(type='submit', value='submit')
    section
      h1.title List Elements
      ul
        li item1
        li item2
        li item3
        li item4
        li item5
        li item6
      ol
        li item1
        li item2
        li item3
        li item4
        li item5
        li item6
