article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

body {
  position: relative; }

strong {
  font-weight: 700; }

.contain {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Oswald", Helvetica, Arial, sans-serif; }
  .contain .aside {
    width: 30%;
    float: left; }
    .contain .aside a .preview {
      position: relative;
      height: 200px;
      width: 100%;
      border: 1px solid #000;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      -webkit-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      .contain .aside a .preview .previewDetails {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: #eee;
        text-shadow: 1px 1px 2px #000;
        background: linear-gradient(transparent, #444444); }
        .contain .aside a .preview .previewDetails p {
          margin: 0;
          padding-left: 15px; }
        .contain .aside a .preview .previewDetails .speaker {
          font-size: 15px; }
        .contain .aside a .preview .previewDetails .title {
          font-size: 25px;
          font-weight: 600;
          padding-bottom: 15px; }
      .contain .aside a .preview:hover {
        opacity: 0.7; }
    .contain .aside a .prev1 {
      background-image: url(../images/graham-hill.png); }
    .contain .aside a .prev2 {
      background-image: url(../images/barry-schwartz.png); }
    .contain .aside a .prev3 {
      background-image: url(../images/neil-pasricha.png); }
    .contain .aside a .prev4 {
      background-image: url(../images/shawn-achor.png); }
    .contain .aside a .prev5 {
      background-image: url(../images/stefan-sagmeister.png); }

.main {
  width: 70%;
  float: right;
  background-color: #fff;
  padding: 7%;
  padding-bottom: 0;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85em; }
  .main .welcomeMessage {
    display: block; }
    .main .welcomeMessage .bigArrow {
      position: relative;
      float: right;
      width: 0;
      height: 0;
      border-top: 200px solid transparent;
      border-right: 400px solid #c0392b;
      border-bottom: 200px solid transparent; }
      .main .welcomeMessage .bigArrow p {
        position: absolute;
        top: -60px;
        left: 50px;
        width: 350px; }
  .main #videoBox {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .main #videoBox:hover {
      opacity: 0.7;
      -webkit-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }

.full {
  width: 100%; }

.vidThumb {
  width: 100%; }

.synopsis {
  font-weight: 300;
  font-size: 1.9em; }

.vidSpeaker {
  float: left;
  width: 100%;
  background-color: #e3e3e3;
  padding: 15px; }
  .vidSpeaker h2 {
    font-size: 30px;
    margin-top: 0; }
  .vidSpeaker h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 20px; }
  .vidSpeaker .speakerPic {
    margin-right: 20px;
    float: left;
    border-radius: 50%;
    width: 150px;
    height: 150px; }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  background-color: rgba(40, 40, 40, 0.9); }
  .overlay .iframeContainer {
    position: relative;
    display: block;
    width: 854px;
    margin: 0 auto; }
    .overlay .iframeContainer .close .closeButton {
      position: absolute;
      top: -40px;
      left: 0;
      width: 20px;
      height: 20px;
      fill: #fff; }
      .overlay .iframeContainer .close .closeButton:hover {
        fill: #00b680; }
    .overlay .iframeContainer .videoEmbed {
      display: block;
      margin: 0 auto;
      margin-top: 15%; }

.visible {
  display: block; }

.notVisible {
  display: none; }

header {
  background-color: pink;
  height: 90px; }
  header .topic {
    width: 30%;
    background-color: purple;
    float: left; }
  header .twitt {
    width: 70%;
    background-color: #BADA55;
    float: right; }

footer {
  background-color: #c0392b;
  max-height: 200px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  position: relative; }
  footer .third {
    width: 33.33%;
    float: left; }
  footer .weekTheme {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: "Yellowtail", cursive;
    color: #fdf6f0;
    text-shadow: 5px 3px #940f08;
    font-size: 72px; }
  footer .footerinfo {
    position: absolute;
    width: 30%;
    max-height: 200px;
    right: 30px;
    top: 30px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #fdf6f0;
    text-align: left;
    vertical-align: middle; }
    footer .footerinfo b {
      font-weight: 400; }
